* {
  margin: 0;
  padding: 0;
  font-family:"Source Code Pro", "Courier New", Courier, monospace;
  font-size: 1.01em;
  line-height: 30px;
}
body {
  background: rgb(38, 38, 38);
  overflow: hidden;
}
$yellow-color: #fffd00;
$green-color: #21f838;
#terminal-container {
  display: flex;
  flex-direction: column;

  .window-title-bar {
    height: 20px;
    color: #fff;
    font-weight: bolder;
    padding: 15px;
    text-align: center;
  }
  #window {
    color: white;
    overflow: auto;
    font-weight: 500;
    padding: 15px;
    .line {
      position: relative;
      min-height: 15px;
      margin: 15px auto;
      #commandInput {
        width: 5px;
        height: 14px;
      }
    }
    .prefix {
      color: $green-color;
    }
    .prefix-root {
      color: $yellow-color;
    }
  }
}
.hacker-color, b {
  color: $green-color;
}
.hidden {
  display: none;
}
[contenteditable]:focus {
  outline: none;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: $green-color;
    text-decoration: none;

    img {
      flex: 1 auto;
    }
  }
}