* {
  margin: 0;
  padding: 0;
  font-family:"Source Code Pro", "Courier New", Courier, monospace;
  line-height: 30px;
  font-size: 14px;
}
body {
  background: rgb(38, 38, 38);
}
$yellow-color: #fffd00;
$green-color: #21f838;
#terminal-container {
  display: flex;
  flex-direction: column;

  .window-title-bar {
    height: 20px;
    color: #fff;
    font-weight: bolder;
    padding: 15px;
    text-align: center;
  }
  #window {
    color: white;
    overflow: auto;
    font-weight: 500;
    padding: 15px;
    .line {
      position: relative;
      min-height: 15px;
      margin: 15px auto;
      #commandInput {
        width: 1px;
        height: 1px;
        border: none;
        margin: 0;
        padding:0 6px;
      }
      #commandInput::before {
        content: '...';
      }
      #commandInput.active::before {
        content: '';
      }
    }
    .prefix {
      color: $green-color;
    }
    .prefix-root {
      color: $yellow-color;
    }

    /** social links styles */
    a.contact-link::before{
      content: '> ';
    }
    a.contact-link {
      font-weight: 500;
      text-decoration: none;
      color: $yellow-color;
      padding: 0 .8em;
    }
    a.contact-link:hover, a.contact-link:focus{
      color: #FFF;
    }
  }
}
.hacker-color, b {
  color: $green-color;
}
.hidden {
  display: none;
}
[contenteditable]:focus {
  outline: none;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: $green-color;
    text-decoration: none;

    img {
      width: 40px;
    }
  }
}